
.header {
    margin: 20px 5% 40px 5%;
    max-height: 100px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    overflow: hidden;
}

#product-grid {
    margin: auto 5% auto 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 180px;
    margin: 20px;
    padding: 10px;
    border: 1.5pt solid #454545;
    text-align: center;
    overflow: hidden;
}

.product-card h3 {
    font-size: 14pt;
}

.product-checkbox {
    float: left;
    opacity: 0.3;
}

.product-checkbox:checked {
    opacity: 1;
}

.delete-button {
    float: right;
    display: none;
}

.content-wrapper {
    margin-left: 5%;
}

.standard-table {
    border-collapse: separate;
    border-spacing: 5px;
}