
.header {
    margin: 20px 5% 40px 5%; 
    max-height: 80px;
    margin-bottom: 10px;
}

.product-checkbox {
    float: left;
}

.header-right {
    float: right;
}

#product-grid {
    margin: auto 5% auto 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid black;
}

.product-card {
    width: 180px;
    margin: 20px;
    padding: 10px;
    border: 2pt solid black;
    text-align: center;
    overflow: hidden;
}

.product-card h3 {

    font-size: 14pt;
}

#special-attribute-field {
    height: 150px;
    
}

#delete-button {
    
    float: right;
   margin-top: 30px;
    display: none;
}

